# requirements.txt
#Flask==2.0.1
#Flask-SQLAlchemy
#mysql-connector-python
Werkzeug==2.0
#Flask-Migrate==2.5.3
Flask==2.1.2
SQLAlchemy==1.4.31
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
mysql-connector-python
openai==1.3.0


